<header id="home" class="hero-area">
  <div class="overlay">
    <span></span>
    <span></span>
  </div>
  <app-nav></app-nav>
  <div class="container">
    <div class="row space-100">
      <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="contents">
          <h2 class="head-title">Conéctate con personas que te agraden</h2>
          <p>
            Completa nuestro quiz y descubre las personas que podrían ser tus
            próximos amigos
          </p>
          <div class="header-button">
            <a
              (click)="showQuiz()"
              rel="nofollow"
              target="_blank"
              class="btn btn-border-filled"
              >Realizar quiz</a
            >
            <a
              href=""
              rel="nofollow"
              target="_blank"
              class="btn btn-border page-scroll"
              >Mas información</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12 p-0">
        <div class="intro-img">
          <img src="../../assets/people.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</header>
