<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Material theme, Angular2 Survey Library Example</title>

  <meta name="viewport" content="width=device-width" />
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://npmcdn.com/zone.js"></script>
  <script src="https://npmcdn.com/core-js@2.6.5/client/shim.min.js"></script>
  <script src="https://npmcdn.com/rxjs@5.0.0-beta.6/bundles/Rx.umd.js"></script>
  <script src="https://npmcdn.com/@angular/core@2.0.0-rc.5/bundles/core.umd.js"></script>
  <script src="https://npmcdn.com/@angular/common@2.0.0-rc.5/bundles/common.umd.js"></script>
  <script src="https://npmcdn.com/@angular/compiler@2.0.0-rc.5/bundles/compiler.umd.js"></script>
  <script src="https://npmcdn.com/@angular/platform-browser@2.0.0-rc.5/bundles/platform-browser.umd.js"></script>
  <script
    src="https://npmcdn.com/@angular/platform-browser-dynamic@2.0.0-rc.5/bundles/platform-browser-dynamic.umd.js"></script>
  <script src="https://surveyjs.azureedge.net/1.8.13/survey.angular.min.js"></script>
  <link rel="stylesheet" href="./index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
  <link rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous" />
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
    integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
    integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $('body').bootstrapMaterialDesign();
    });
  </script>
</head>

<body>

  <ng-app></ng-app>
  <div id="surveyResult"></div>

  <script type="text/javascript" src="./index.js"></script>

</body>

</html>