<nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
  <div class="container">
    <a href="index.html" class="navbar-brand"><img src="../../assets/roomeet-logo.png" class="image-brand" alt="" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="lni-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#services">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#pricing">Precio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#team">Equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#contact">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-singin" (click)="showQuiz()">Pruebalo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>