<nav class="navbar navbar-light bg-light">
  <img class="img-logo" src="../../assets/roomeet-logo-dark.png" alt="">
  <!-- <img class="navbar-brand" img> -->
  <form class="form-inline">
    <button type="button" (click)="logout()" class="btn btn-secondary">Cerrar sesión</button>
  </form>
</nav>

<div class="container">
  <div class="alert alert-primary" role="alert">
    Codigo de referencia {{adminId}}
  </div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Edad</th>
        <th scope="col">Grupo</th>
        <th scope="col">Respuestas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of surveys; index as i; first as isFirst">
          <th scope="row">{{i+1}}</th>
          <td>{{survey.userName}}</td>
          <td>{{survey.userEmail}}</td>
          <td>{{survey.age}}</td>
          <td>{{survey.group}}</td>
          <td>Completas</td>
      </tr>

    </tbody>
  </table>




