<section id="pricing" class="section">
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="pricing-text section-header text-center">
          <div>
            <h2 class="section-title">Precios</h2>
            <div class="desc-text">
              <p>Nuestros planes de servicio</p>

            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row pricing-tables">
      <!--  Start Col -->

      <!--  End Col -->
      <!--  Start Col -->
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="pricing-table text-center">
          <div class="pricing-details">
            <h3>Estándar</h3>
            <h1><span>$</span> 35.000</h1>
            <ul>
              Por residente cada vez que se requiera el uso del algoritmo (una vez al semestre posiblemente).
            </ul>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-common">Purchase</a>
          </div>
        </div>
      </div>
      <!--  End Col -->
      <!--  Start Col -->

      <!--  End Col -->

    </div>
    <!-- End Row -->
  </div>
</section>