<section id="services" class="section">
  <div class="container">


    <div class="row">


      <div class="col-lg-12">
        <div class="pricing-text section-header text-center">
          <div>
            <h2 class="section-title">Nuestro Servicio</h2>
          </div>
        </div>
      </div>
      <!-- Start Col -->
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="services-item text-center">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-xs-12">

              <img src="../../assets/images/machine_learning.png" width="200" height="40" class="img-fluid"
                alt="Responsive image">
            </div>
            <div class="col-lg-6 col-md-8 col-xs-12">

              <img src="../../assets/images/personalidad.png" width="200" height="40" class="img-fluid"
                alt="Responsive image">
            </div>
          </div>
          <h4></h4>
          <h4></h4>
          <p>A través de ula aplicación de machine learning y quiz compuesto por una serie de preguntas específicas
            tomando en cuenta perspectivas psicológicas, de intereses y de convivencia, le ofrecemos
            un servicio de perfilamiento a empresas de residencias universitarias para así mejorar la experiencia de
            usuario de cada uno de los residentes.Esto permitirá que cada cliente pueda encontrar
            los mejores compañeros posibles
            .</p>
        </div>
      </div>
      <!-- End Col -->
      <!-- Start Col -->

      <!-- End Col -->

    </div>
  </div>
</section>